{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">EDI details submitted</h1>

      </div>

      <p>
        Thank you for submitting your EDI details
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>You may now leave this page .</p>



    </div>
  </div>

{% endblock %}
