{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">EDI details submitted</h1>

      </div>

      <p>
        Thank you for submitting your EDI details.
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We’ll store your data securely and handle it in line with UK data protection legislation.</p>
      <p>If you would like to know more, including how to exercise your data protection rights,<a class="https://www.ukri.org/about-us/privacy-notice/" href="https://www.ukri.org/about-us/privacy-notice/"> please see our privacy notice.
      </a>
      <p>You may now leave this page.</p>


    </div>
  </div>

{% endblock %}
