{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="Disability">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        idPrefix: "countries",
        name: "countries",
        fieldset: {
          legend: {
            text: "Which of the following conditions, illness or disabilities do you have?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "select all that apply"
        },
        items: [
          {
            value: "france",
            text: "Blind/Partially sighted"
          },
          {
            value: "portugal",
            text: "Deaf/Hearing impairment"
          },

          {
            value: "spain",
            text: "Dyslexia, dyscalculia, dyspraxia or dysgraphia"
          },
          {
            value: "spain",
            text: "Long-term health condition or chronic disease"
          },
          {
            value: "spain",
            text: "Mental health condition"
          },
          {
            value: "spain",
            text: "Mobility or musculoskeletal condition"
          },
          {
            value: "spain",
            text: "Neurodivergent"
          },
          {
            value: "spain",
            text: "Prefer to self-describe"
          },
          {
            divider: "or"
          },
          {
            value: "none",
            text: "Prefer not to say",
            behaviour: "exclusive"
          }
        ]
      }) }}
            <form class="form" action="/Ethnicity" method="post">
              <button class="govuk-button" data-module="govuk-button">
                Continue
              </button>
                    </form>

                  </div>


    </div>


      {% endblock %}
