{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="religion">Back</a>
{% endblock %}

{% block content %}
<form class="form" action="marriage" method="post">
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What was the occupation of your main household earner when you were aged 14?
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="religion" name="religion" type="radio" value="none">
        <label class="govuk-label govuk-radios__label" for="religion">
          Administrative and secretarial occupations
        </label>
        <div id="religion-2-item-hint" class="govuk-hint govuk-radios__hint">
          For example, office supervisors, personal assistant.
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="religion-2" name="religion" type="radio" value="christian" aria-describedby="religion-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="religion-2">
          Associate Professional Occupations
        </label>
        <div id="religion-2-item-hint" class="govuk-hint govuk-radios__hint">
          For example, technicians, veterinary nurses, protective services, culture and media occupations, public service associate professionals.
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="religion-3" name="religion" type="radio" value="buddhist">
        <label class="govuk-label govuk-radios__label" for="religion-3">
          Caring, leisure and other service occupations
        </label>
        <div id="religion-2-item-hint" class="govuk-hint govuk-radios__hint">
          For example, childcare, animal care, hairdressing, housekeeping, guest house owner.
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="religion-4" name="religion" type="radio" value="hindu">
        <label class="govuk-label govuk-radios__label" for="religion-4">
          Long-term unemployed
        </label>
        <div id="religion-2-item-hint" class="govuk-hint govuk-radios__hint">
          For example, claimed Jobseeker's Allowance or earlier unemployment benefit for more than a year.
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="religion-5" name="religion" type="radio" value="jewish">
        <label class="govuk-label govuk-radios__label" for="religion-5">
          Managers, directors, and senior officials
        </label>
        <div id="religion-2-item-hint" class="govuk-hint govuk-radios__hint">
          For example, chief executives, senior management.
        </div>
      </div>
      <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="religion-5" name="religion" type="radio" value="jewish">
      <label class="govuk-label govuk-radios__label" for="religion-5">
          Process, plant and machine, transport operatives
        </label>
        <div id="religion-2-item-hint" class="govuk-hint govuk-radios__hint">
          For example, HGV drivers, metal working machine operatives.
        </div>

   </div>
      <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="religion-5" name="religion" type="radio" value="jewish">
      <label class="govuk-label govuk-radios__label" for="religion-5">
         Professional Occupations
       </label>
    <div id="religion-2-item-hint" class="govuk-hint govuk-radios__hint">
         For example, science and research professionals, health professionals, IT professionals, teaching and other education professionals, business professionals.
    </div>
  </div>
     <div class="govuk-radios__item">
     <input class="govuk-radios__input" id="religion-5" name="religion" type="radio" value="jewish">
     <label class="govuk-label govuk-radios__label" for="religion-5">
        Retired
      </label>
    </div>
   <div class="govuk-radios__item">
   <input class="govuk-radios__input" id="religion-6" name="religion" type="radio" value="muslim">
   <label class="govuk-label govuk-radios__label" for="religion-6">
        Routine manual or service occupations
   </label>
   <div id="religion-2-item-hint" class="govuk-hint govuk-radios__hint">
        For example, cleaner, porter, waiter.
   </div>
  </div>
  <div class="govuk-radios__item">
  <input class="govuk-radios__input" id="religion-7" name="religion" type="radio" value="sikh">
  <label class="govuk-label govuk-radios__label" for="religion-7">
          Sales and customer service occupations
  </label>
  <div id="religion-2-item-hint" class="govuk-hint govuk-radios__hint">
       For example, sales assistant, customer services supervisors.
  </div>
</div>
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="religion-7" name="religion" type="radio" value="sikh">
<label class="govuk-label govuk-radios__label" for="religion-7">
        Skilled trades occupations
</label>
<div id="religion-2-item-hint" class="govuk-hint govuk-radios__hint">
     For example, agricultural, construction, electrical trades.
</div>

 </div>
   <div class="govuk-radios__item">
   <input class="govuk-radios__input" id="religion-5" name="religion" type="radio" value="jewish">
   <label class="govuk-label govuk-radios__label" for="religion-5">
      Student
    </label>

      </div>
      <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="religion-8" name="religion" type="radio" value="other" data-aria-controls="conditional-religion-8">
        <label class="govuk-label govuk-radios__label" for="religion-8">
          Other
        </label>
  </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-religion-8">
        <div class="govuk-form-group">
          <label class="govuk-label" for="other-description">
            Specify the occupation (optional)
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="other-description" name="other-description" type="text"></div>
        </div>
        <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="religion-7" name="religion" type="radio" value="sikh">
        <label class="govuk-label govuk-radios__label" for="religion-7">
                Don’t know
        </label>
      </div>
      <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="religion-7" name="religion" type="radio" value="sikh">
      <label class="govuk-label govuk-radios__label" for="religion-7">
              Not applicable
      </label>
  </div>
      <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="religion-10" name="religion" type="radio" value="skip">
        <label class="govuk-label govuk-radios__label" for="religion-10">
          Prefer not to say
        </label>
      </div>
    </div>

  </fieldset>
</div>
<div class="govuk-inset-text">
  This will give us an indication of the diversity of applicants. We recognise that a single question cannot define a person’s socioeconomic status, but will instead provide an indication.
</div>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>

{% endblock %}
